.weather-card-image {
    width: 100px;  /* Задаем фиксированную ширину */
    height: 100px; /* и высоту */
    object-fit: contain; /* Вписываем изображение в эти размеры, сохраняя пропорции */
    margin: 0 auto; /* Центрируем изображение по горизонтали */
}